* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
    z-index: 1;
}

.up {
    width: inherit;
    height: 35px;
    background: #fff;
    text-align: right;
}

.up a {color: #CE0033;}

.up a img {
    width: 40px;
    height: 35px;
    margin-right: 15px;
}

.down {
    width: inherit;
    height: 65px;
    background: linear-gradient(to right, #CE0033, #FBA81F);
    text-align: left;
}

.down a img {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
}

main {
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    position: fixed;
}

.nav {
    width: fit-content;
    height: fit-content;
    background: #CE0033;
    margin: 0 auto;
    padding: 0;
    display: flex;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px #ddd;
}

.nav div {
    width: auto;
    height: auto;
    padding: 17px 35px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.nav div:nth-child(1), .nav div:nth-child(2), .nav div:nth-child(3) {border-right: 2px solid #921212;}

.newbies {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active {background: #BB143D;}

.subscribers {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#target {
    width: inherit;
    height: auto;
    background: none;
    margin: 3% auto;
}

 .header {
    width: 70%;
    height: auto;
    background: #FBA81F;
    color: #921212;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
}

.label_reservations {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
    transform: translateX(-36%);
}

.label_reservations div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.label_bookers {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
}

.label_bookers div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.label_reservations div span, .label_bookers div span {
    font-size: 21px;
    font-weight: 500;
    color: #921212;
}

.newbiesList, .reservationsList, .subscribersList {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
}

.newbiesList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 4vw;
}

.reservationsList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 3vw;
}

.subscribersList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.newbiesList div span, .subscribersList div span {
    font-size: 21px;
    font-weight: 500;
}

.reservationsList div span {
    font-size: 19px;
    font-weight: 500;
}

.newbiesList div a, .subscribersList div a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    outline: none;
    font-size: 300;
    margin: 0 auto;
    padding: 10px 3vw;
    border-radius: 3px;
}

.reservationsList div a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    outline: none;
    font-size: 300;
    margin: 0 auto;
    padding: 8px 2vw;
    border-radius: 3px;
}

.profil {
    background: #ddd;
    color: #000;
    border: 1px solid rgb(199, 199, 199);
}

.validate {
    background: #1C9A04;
    color: #fff;
    border: 1px solid #1C9A04;
}

.delete {
    background: #CE0033;
    color: #fff;
    border: 1px solid #CE0033;
}

.active {background: #921212;}

.empty {
    font-size: 21px;
    font-weight: 500;
    color: #921212;
}

.reserve_form h1 {
    color: #921212;
}

.reserve_form form input {
    width: 22%;
    height: 30px;
    border: 1px solid #921212;
    margin-top: 25px;
}

.reserve_form form button {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #CE0033;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px 15px;
}
