* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


header {
    width: 100vw;
    height: 100px;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 1;
}

.up {
    width: inherit;
    height: 35px;
    background: #fff;
    text-align: right;
}

.up a {color: #CE0033;}

.up a img {
    width: 40px;
    height: 35px;
    margin-right: 15px;
}

.down {
    width: inherit;
    height: 65px;
    background: linear-gradient(to right, #CE0033, #FBA81F);
    text-align: left;
}

.down a img {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
}

main {
    width: 98vw;
    height: auto;
    margin-top: 20vh;
    position: absolute;
}

.nav {
    width: fit-content;
    height: fit-content;
    background: #CE0033;
    margin: 0 auto;
    padding: 0;
    display: flex;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px #ddd;
}

.nav div {
    width: auto;
    height: auto;
    padding: 17px 35px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.nav div:nth-child(1), .nav div:nth-child(2), .nav div:nth-child(3), .nav div:nth-child(4) {border-right: 2px solid #921212;}

.newbies {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active {background: #BB143D;}

.subscribers {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#target {
    width: inherit;
    height: auto;
    background: none;
    margin: 3% auto;
}

 .header {
    width: 70%;
    height: auto;
    background: #FBA81F;
    color: #921212;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
}

.label_reservations {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
    transform: translateX(-36%);
}

.label_reservations div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.label_bookers {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
}

.label_bookers div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.label_reservations div span, .label_bookers div span {
    font-size: 21px;
    font-weight: 500;
    color: #921212;
}

.newbiesList, .reservationsList, .subscribersList {
    width: fit-content;
    height: auto;
    margin: 25px auto;
    display: flex;
}

.newbiesList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 4vw;
}

.reservationsList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 3vw;
}

.subscribersList div {
    width: fit-content;
    height: fit-content;
    padding: 10px 2vw;
}

.newbiesList div span, .subscribersList div span {
    font-size: 21px;
    font-weight: 500;
}

.reservationsList div span {
    font-size: 19px;
    font-weight: 500;
}

.newbiesList div a, .subscribersList div a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    outline: none;
    font-size: 300;
    margin: 0 auto;
    padding: 10px 3vw;
    border-radius: 3px;
}

.reservationsList div a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    outline: none;
    font-size: 300;
    margin: 0 auto;
    padding: 8px 2vw;
    border-radius: 3px;
}

.profil {
    background: #ddd;
    color: #000;
    border: 1px solid rgb(199, 199, 199);
}

.validate {
    background: #1C9A04;
    color: #fff;
    border: 1px solid #1C9A04;
}

.delete {
    background: #CE0033;
    color: #fff;
    border: 1px solid #CE0033;
}

.active {background: #921212;}

.empty {
    font-size: 21px;
    font-weight: 500;
    color: #921212;
}

.reservartionConfig {
    width: 50%;
    height: auto;
    margin: 10vh auto;
    padding: 10px;
    background: none;
    display: block;
}

.reservationHeader {
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    background: none;
}

.bloc_1 {
    width: 50%;
    height: auto;
    text-align: center;
}

.bloc_1 span {
    font-size: 19px;
    font-weight: 500;
    color: #CE0033;
}

.bloc_1 span:last-child {margin-left: 2vw;}

.bloc_2 {
    width: 50%;
    height: auto;
    text-align: center;
}

.bloc_2 span {
    font-size: 21px;
    font-weight: 500;
    color: #CE0033;
    text-align: center;
}

.bloc_2 span:last-child {margin-left: 2vw;}

form {
    width: 100%;
    height: auto;
}

.form_bloc {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
}

.day_date {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: right;
}

.day_date label {
    margin-left: 2vw;
    font-weight: 500;
}

.day_date span {font-weight: 500;}

.begin_end {
    width: 50%;
    height: auto;
    margin-left: 5vw;
    display: flex;
    justify-content: right;
}

.begin_end input {
    width: 10vw;
    height: 30px;
    border: 1px solid #ddd;
}

.begin_end #openHour {
    margin-left: 5vw;
    margin-top: 3px;
    margin-right: 10px;
}

form label[for="amount"] {font-weight: 500;}

form input[type="number"] {
    width: auto;
    height: 35px;
    font-size: large;
    outline: none;
    border: 1.5px solid #ddd;
    border-radius: 3px;
    margin-top: 2vh;
}

form button {
    width: fit-content;
    height: fit-content;
    margin: 5vh auto;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #CE0033;
    box-shadow: 0 1px 3px #ddd;
}

@media(min-width: 900px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0.7vw;
        background: #ce003433;
    }
    ::-webkit-scrollbar-thumb {
        width: inherit;
        height: auto;
        background: #CE0033;
        border: none;
        border-radius: 5px;
    }
}
