* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.up {
    width: inherit;
    height: 35px;
    background: #fff;
    text-align: right;
}

.up a {color: #CE0033;}

.up a img {
    width: 40px;
    height: 35px;
    margin-right: 15px;
}

.down {
    width: inherit;
    height: 65px;
    background: linear-gradient(to right, #CE0033, #FBA81F);
    text-align: left;
}

.down a img {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
}

main {
    width: 98vw;
    height: auto;
    margin: 25vh auto;
}

main > p {
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px 75px;
    background: rgba(68, 238, 42, .35);
    border: 1px solid #2ddb0a;
    border-radius: 5px;
}

main form {margin-top: 5vh;}

main form div {
    width: 30%;
    height: fit-content;
    margin: auto;
    padding: 25px;
}

main form div .jour, .date, .hours {
    font-size: large;
    font-weight: 500;
}

main form div input {
    width: 2vw;
    height: 2vh;
}

main form button[type="submit"] {
    margin-top: 8vh;
    padding: 1.7vh 3vw;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #CE0033;
    box-shadow: 0 2px 3px #ddd;
}

main form div:nth-child(odd) { background: #eee;}

footer {
    width: 100%;
    height: auto;
    text-align: center;
    color: #707070;
    font-weight: 500;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.7vw;
    background: #ce003433;
}
::-webkit-scrollbar-thumb {
    width: inherit;
    height: auto;
    background: #CE0033;
    border: none;
    border-radius: 5px;
}

@media(max-width: 500px) {
    .up a img {
        width: 30px;
        height: 25px;
        margin-right: 15px;
    }
    main p {
        width: fit-content;
        font-weight: 500;
        margin: 0 auto;
        padding: 8px 20px;
        background: rgba(68, 238, 42, .35);
        border: 1px solid #2ddb0a;
        border-radius: 5px;
    }
}
