* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
}

.up {
    width: inherit;
    height: 35px;
    background: #fff;
    text-align: right;
}

.up a {color: #CE0033;}

.up a img {
    width: 40px;
    height: 35px;
    margin-right: 15px;
}

.down {
    width: inherit;
    height: 65px;
    background: linear-gradient(to right, #CE0033, #FBA81F);
    text-align: left;
}

.down a img {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
}

main {
    width: 100vw;
    height: auto;
    margin-top: 30vh;
    position: fixed;
}

main > p {
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px 75px;
    background: rgba(68, 238, 42, .35);
    border: 1px solid #2ddb0a;
    border-radius: 5px;
}

main div {
    width: fit-content;
    height: fit-content;
    margin: 10vh auto;
}

main div p span {font-weight: 500;}

main div a {
    padding: 10px 25px;
    margin: auto;
    color: #fff;
    background: #CE0033;
    border: none;
    outline: none;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px #707070;
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    color: #707070;
    font-weight: 500;
    bottom: 0;
    left: 0;
}

@media(max-width: 500px) {
    .up a img {
        width: 30px;
        height: 25px;
        margin-right: 15px;
    }
    main p {
        width: fit-content;
        font-weight: 500;
        margin: 0 auto;
        padding: 8px 20px;
        background: rgba(68, 238, 42, .35);
        border: 1px solid #2ddb0a;
        border-radius: 5px;
    }
}
