* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
    width: 100vw;
    height: auto;
    margin-top: 10vh;
    position: fixed;
}

.header {
    width: 50%;
    height: auto;
    background: #FBA81F;
    color: #921212;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
}

.user {
    width: fit-content;
    height: fit-content;
    margin: 5vh auto;
}

.user div {
    margin-top: 3vh;
    text-align: left;
}

.label {
    font-size: 24px;
    font-weight: 500;
    color: #921212;
}

.info {
    font-size: 19px;
    font-weight: 500;
}

.validate, .delete {
    width: 50%;
    margin: 25px auto;
}

.validate a {
    width: fit-content;
    height: fit-content;
    background: #0e7405;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    margin-bottom: 20px;
}

.delete a {
    width: fit-content;
    height: fit-content;
    background: #CE0033;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
}

.adminpage a {
    width: fit-content;
    height: fit-content;
    background: #FBA81F;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
}
